<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <div>
        {% comment %} The request will contain the student's name, email address and their preferred day and time slot for the class. {% endcomment %}
        {% comment %} Input will be a url request with post paramenters set  {% endcomment %}
        <form method="POST" action = "">
            Enter name : <input type="text" name="name" placeholder="input your name"><br><br>
            Enter email : <input type="text" name="email" placeholder="input your email"><br><br>
            Enter address : <input type="text" name="address" placeholder="input your address"><br><br>
            Enter day prefrence: <input type="text" name="day" placeholder="input your address"><br><br>
            Enter start time prefrence: <input type="text" name="time1" placeholder="eg 9:00 AM"><br><br>
            Enter end time prefrence: <input type="text" name="time2" placeholder="eg 12.00 AM"><br><br>
            {%if status%}
                <p>{{status}}</p>
                <button type="submit"
                    class="bg-black hover:bg-gray-500 rounded-lg text-white p-2 px-4 m-2">
                    <p class="font-semibold text-xs">Book Slot</p>
                    </button>
            {%endif%}
        <input type="submit">
    </form><br>
    </div>
</body>
</html>